version: '3.8'
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: alerta-frontend
    ports:
      - "3000:8080"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: alerta-backend
    ports:
      - "8080:8080"
    volumes:
      - ./data:/data
    environment:
      - DB_PATH=/data/db.sqlite